/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0d1117;
  color: #ffffff;
  /* Hier die url für das backgroundimage */
  background-image: url();
}

/* Navigation styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  padding: 10px 20px;
}

.logo img {
  width: 54.5px;
  height: 54.5px;
  border-radius: 20px;
}

.nav-items {
  display: flex;
  gap: 70px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-items li div {
  display: flex;
  flex-direction: column;
}

.nav-items li div a:first-child {
  text-decoration: none;
  color: #3b82f6;
  font-size: 0.4rem;
  transition: color 0.3s;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 7px;
}

.nav-items li div a:last-child {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  transition: color 0.3s;
  letter-spacing: 2px;
}

.nav-items li div a:last-child:hover {
  color: #3b82f6;
}

.invite-button {
  background-color: #3b82f6;
  color: #ffffff;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.invite-button:hover {
  background-color: #2563eb;
}

.first {
  position: relative;
  height: calc(100vh - 79px);
}

.second {
  position: relative;
  height: 100vh;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 100px 10%;
  gap: 40px;
}

.text-container {
  max-width: 60%;
}

.text-container h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: white;
}

.text-container p {
  font-size: 1rem;
  margin-bottom: 30px;
  color: #a0aec0;
}

.buttons {
  display: flex;
  gap: 15px;
}

.buttons button {
  background-color: #3b82f6;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #2563eb;
}

.buttons button:last-child {
  color: #3b82f6;
  background: transparent;
}

.buttons button:last-child:hover {
  color: #2563eb;
}

.image-placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 60px;
  transform: scale(0.9);
  border-radius: 10px;
}

.image-placeholder img:first-child {
  height: 340px;
  width: 300px;
  margin-right: -8px;
  transform: scaleX(300px);
  z-index: 20;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.image-placeholder img:last-child {
  height: 340px;
  transform: scaleX(300px);
  z-index: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.image-placeholder img {
  border: 0px;
  object-fit: cover;
  overflow: hidden;
}

@media (max-width: 1350px) {
  .hero {
    flex-direction: column;
    height: calc(175vh - 160px);
    padding-bottom: 0px;
    padding-top: 160px;
  }

  .first {
    height: 200vh;
  }

  .text-container {
    max-width: 80%;
  }

  .image-placeholder {
    margin-top: auto;
    transform: scale(1);
    width: 880px;
    margin-left: auto;
    margin-right: auto;
  }

  .image-placeholder img:last-child {
    height: 510px;
    transform: scaleX(450px);
  }

  .image-placeholder img:first-child {
    height: 510px;
    width: 450px;
    transform: scaleX(450px);
  }
}

@media (max-width: 1100px) {
  .first {
    height: 300vh;
  }

  .hero {
    height: calc(300vh - 160px);
    padding-bottom: 0px;
    padding-top: 160px;
  }

  .image-placeholder {
    flex-direction: column;
    height: 200vh;
  }

  .image-placeholder img:last-child {
    height: 680px;
    transform: scaleX(600px);
    margin-top: auto;
    margin-bottom: 15vh;
  }

  .image-placeholder img:first-child {
    height: 680px;
    width: 600px;
    transform: scaleX(600px);
  }
}